$family-serif: "Merriweather", "Georgia", serif;
$grey: hsl(0, 0%, 30%);
$white: hsl(0, 0%, 100%);
$navbar-background-color: grey;
$button-background-color: grey;
$button-border-color: black;
$button-color: white;
@import "../node_modules/bulma/bulma.sass";

p {
  text-indent: 30pt;
}
