body {
  padding: 0;
  margin: 0;
}

.FoodPantryImg {
  width: 100%;
  height: 500px;
  text-align: center;
  background-image: url("../Images/FoodPantryImg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.FoodPantryImg .socials {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.FoodPantryHeader {
  margin: 0;
  font-size: 50px;
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background: rgba(204, 204, 204, 0.5);
  position: absolute;
  margin-left: 20%;
  width: 50%;
  margin-top: 250px;
}

.soclai_icon {
  margin: 2px;
  float: right;
}

.socials_footer {
  height: 100px !important;
  width: 100px !important;
  display: flex;
  align-items: center;
  margin-left: 30%;
  padding: 10px;
}

.socials_footer_icon {
  float: none !important;
  height: 100px;
  width: 100px;
  float: middle;
  margin: 20px;
  display: flexbox;
}

.sectionone {
  padding-left: 20%;
  padding-right: 20%;
}

.sectionone p {
  width: 80%;
  border: 4px solid;
  padding: 10px;
  text-indent: 20px;
  text-align: left;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.socials {
  height: 25px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(0, 0, 0);
  margin: 0 0;
  padding: 0;
}

hr:not(.img_hr) {
  margin: 5px 0;
}

.img_hr {
  border-top: 3px solid rgb(0, 0, 0);
}

.sectiontwotwo,
.sectiontwoone {
  display: flex;
}

.sectiontwonumber {
  display: flexbox;
  margin: 5px;
  font-size: 45px;
  font-family: cursive;
  font-weight: bold;
}

.sectiontwolabel {
  display: flexbox;
  margin: 5px;
  margin-top: 30px;
  font-size: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: normal;
}

.sectionfour {
  align-content: center;
  text-align: center;
}
.sectionfour h2,
.sectionthree h2 {
  border: 6px solid;
  width: 20%;
  align-self: center;
  padding: 10px;
  margin-left: 35%;
  text-align: center;
}

.sectionfour p {
  border: 4px solid;
  width: 60%;
  padding: 10px;
  text-indent: 20px;
  text-align: left;
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transform-origin: top right;
  transform: translate(25%, 0);
}

.grocery_bag {
  position: relative;
  width: 1000px;
  height: 1000px;
  align-self: center;
  margin-left: 10%;
  opacity: 0.5;
  transition: opacity 0.5s;
}

.grocery_bag img {
  width: 1000px;
  height: 1000px;
  align-self: center;
  margin-left: 10%;
}

.grocery_bag:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.grocery_bag div p {
  visibility: hidden;
  position: absolute;
  font-size: 24px;
  background-color: black;
  color: white;
  top: 50%;
  left: 50%;
  z-index: 1;
  transition: visibility 0.25s;
}

.grocery_bag div img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.grocery_bag div {
  position: absolute;
  opacity: 0.5;
  text-align: center;
  top: 40%;
  left: 33%;
  transition: opacity 0.5s;
}

.grocery_bag div:hover p {
  visibility: visible;
  transition: visibility 0.5s;
}

.grocery_bag div:hover {
  opacity: 1;
  transition: opacity 0.5s;
}

.watermelon {
  left: 55% !important;
  top: 55% !important;
}

.chicken {
  left: 39% !important;
  top: 60% !important;
}

.fish {
  left: 75% !important;
  top: 75% !important;
}

.meat {
  left: 45% !important;
  top: 83% !important;
}

.milk {
  left: 55% !important;
  top: 70% !important;
}

.pasta {
  left: 75% !important;
  top: 60% !important;
}

.tomato {
  left: 75% !important;
}
